<div class="list-group shadow-sm">

    <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
    </a>

    <a href="{% url 'company-list' %}" class="list-group-item list-group-item-action">
        <i class="bi bi-buildings me-2"></i>
        Companies
    </a>

    <a href="{% url 'rate-list' %}" class="list-group-item list-group-item-action">
        <i class="bi bi-currency-exchange me-2"></i>
        Exchange Rates
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        <i class="bi bi-arrow-left-right me-2"></i>
        Currency Converter
    </a>

    <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action">
        <i class="bi bi-gear me-2"></i>
        Django Admin
    </a>

</div>